::selection{ /*pseudoelement*/
	background-color: #ffa64d;
}

header{
		/*background-color: #100b0a;*/
		/*background: linear-gradient(to bottom right, black, grey);*/
		background: linear-gradient(black, grey);
		color:white;
		padding: 10px;
	}

header h1{
		color:#99284f;
	}

header h1:hover{
	color:#dd8c3c;
	padding: 1px;
	font-family: Verdana;
}

.languages .arrowdown{
	border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom:2px;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


* {
	box-sizing: border-box;
}
	body{
		margin:0;
		padding: 0;
	}

	nav{
		margin-top: 0;
		padding: 0;
		position: -webkit-sticky; /* Safari */
    	position: sticky;
    	border-top-style: solid;
    	border-top-color: #99284f;
    	border-top-width: 5px;
    	top: 0;
	}
	nav ul {
		list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #e6e6e6;
	}


	nav ul li {
		float: left;
		border-right:1px solid #bbb; /*linhas a separar as tabs*/
		/*display: inline;*/
	}

	nav ul li a {
	display: block;
    color: black;
    text-shadow:2px 1px 6px #e6e6e6;
    font-family: Verdana;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}


	nav ul li a:hover{ 
	background-color: #99284f;
	color:white;
	}

	li a.active {
    background-color: #99284f;
    color:white;
	}

	.row{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap-reverse;
	}

	.principal{
		flex:70%;
		background-color:lightgrey;
		padding:20px;
	}

	/*.principal > section{
		background-color:lightblue;
		margin: 10px;
  		padding: 5px;
	}*/

	.side{
		flex:30%;
		background: linear-gradient(-260deg,#661940, grey);
		padding: 20px;
	}

	.lan > h3{
		background-color:white;
		border-radius: 10px 10px 0px 0px;
		border-bottom-width: 8px;
		border-bottom-style: solid;
		border-bottom-color: #99284f;
		padding: 3px;
		font-family: Verdana;
	}

	.interests > h3{
		background-color:white;
		object-fit: contain;
		border-radius: 10px 10px 0px 0px;
		border-bottom-width: 8px;
		border-bottom-style: solid;
		border-bottom-color: #99284f;
		padding: 3px;
		font-family: Verdana;
	}

	#portuguese p{
		background-color:#dd8c3c;
		color: white;
		border-radius: 10px;
		font-weight: bold;
		font-family: Verdana;
		width:99%;
		padding:4px;
		margin-left:2px;
	}

	#english p{
		background-color:#dd8c3c;
		border-radius: 10px;
		color: white;
		font-weight: bold;
		font-family: Verdana;
		width:85%;
		padding:4px;
		margin-left:2px;

	}


	#spanish p{
		background-color:#dd8c3c;
		border-radius: 10px;
		color: white;
		font-weight: bold;
		font-family: Verdana;
		width:50%;
		padding:4px;
		margin-left:2px;
	}

	.languages p:hover{
		box-shadow: 2px 1px 6px #e6e6e6;
	}

	#portuguese p:hover{
		background-color:#e4a667;
	}

	#english p:hover{
		background-color:#e4a667;
	}

	#spanish p:hover{
		background-color:#e4a667;
	}

	#ptomit,#enomit,#esomit{
		display:none;
	}
/*pseudoclass :hover*/
	#portuguese p:hover #ptomit{ 
		display: block; 
	}

	#english p:hover #enomit{ 
		display: block; 
	}

	#spanish p:hover #esomit{ 
		display: block; 
	}

/*centrar imagem*/
	#imginterests{
	display: block;
    margin-left: auto;
    margin-right: auto;
	}


	section{
		background-color: lightgrey;
		font-family: Verdana;
		/*margin: 0px;*/
		padding: 10px;
		max-width: 500px
		margin:auto;
	}

	section h3{
	color:#99284f;
	text-shadow:2px 2px 4px #737373;
	text-decoration: underline;
	}

	section h3:hover{ 
	transition: all .2s ease-in-out;
	font-size: 1.5em;
	color: #ff9900;
	text-shadow:2px 2px 4px #737373;
	shape-rendering: 10px;
}

	article p{
		margin:7px;
	}

	article.main{
		background-color: white;
		text-align: justify;
		border-radius: 10px;
		border-left-width: 6px;
		border-left-style: solid;
		border-left-color: #99284f;
		padding:10px;
		/*font-size:1.2vw;*/ /*para alterar ao diminuir tamanho*/
		/*max-width: 800px;*/ /*para quando diminuir a janela diminuir o tamanho dos elemntos*/
		margin:auto;
		margin-left:30px;
		margin-bottom:0px;
		box-shadow: 10px 10px 5px grey;
	}

	article{
		background-color: white;
		border-radius: 5px;
		border-left-width: 6px;
		border-left-style: solid;
		border-left-color: #99284f;
		text-align: justify;
		padding:8px;
		/*font-size:1.2vw;*/
		/*max-width: 1000px;*/
		margin:auto;
		margin-left:30px;
		margin-bottom:15px;
		box-shadow: 10px 10px 5px grey;
	}
	article.main:hover{
		background-color: #99284f;
		border-radius: 10px;
		border-left-width: 6px;
		border-left-style: solid;
		border-left-color: #99284f;
		padding:5px;
		margin-bottom:0px;
		color:white;
	}
	article:hover{
		background-color: #99284f;
		border-radius: 10px;
		border-left-width: 6px;
		border-left-style: solid;
		border-left-color: #99284f;
		padding:5px;
		margin-bottom:10px;
		color:white;
	}

	article h4{
		margin:4px;
	}

	footer{
		background: linear-gradient(black, grey);
		color: white;
		font-family: Verdana;
		font-size:13px;
		margin: 0;
		padding:1px;
		border-top-style: solid;
    	border-top-color: #99284f;
    	border-top-width: 5px;
	}

	footer p {
		margin:4px;
		color: #99284f;
		text-decoration: underline;
	}

	footer ul li{
		list-style-type: none;
	}

	footer ul li a:link {
    color: white;
    background-color: transparent; 
    text-decoration: none;
}

	footer ul li a:hover {
    color: #99284f;
    background-color: transparent;
    text-decoration: underline;
}

	ul span{
		 float:right; 
		 color:#e6e6e6; 
		 margin:3px
	}



