::selection{ 
	background-color: #ffa64d;
}

header{
		/*background-color: #100b0a;*/
		/*background: linear-gradient(to bottom right, black, grey);*/
		background: linear-gradient(black, grey);
		color:white;
		padding: 10px;
	}

header h1{
		color:#99284f;
	}

header h1:hover{
	color:#dd8c3c;
	padding: 1px;
	font-family: Verdana;
}


* {
	box-sizing: border-box;
}

	body{
		margin:0;
		padding: 0;
		background-color: lightgrey;
	}

	nav{
		margin-top: 0;
		padding: 0;
		position: -webkit-sticky; /* Safari */
    	position: sticky;
    	border-top-style: solid;
    	border-top-color: #99284f;
    	border-top-width: 5px;
    	top: 0;
	}
	nav ul {
		list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #e6e6e6;
	}


	nav ul li {
		float: left;
		border-right:1px solid #bbb; /*linhas a separar as tabs*/
		/*display: inline;*/
	}

	nav ul li a {
	display: block;
    color: black;
    text-shadow:2px 1px 6px #e6e6e6;
    font-family: Verdana;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}


	nav ul li a:hover{ 
	background-color: #99284f;
	color:white;
	}

	li a.active {
    background-color: #99284f;
    color:white;
	}

	section{
		background-color: lightgrey;
		font-family: Verdana;
		/*margin: 0px;*/
		padding: 1px;
		max-width: 600px
		margin:auto;
		margin: 4px;
		overflow: none;
		height: 500px;
	}

	section h3{
	color:#99284f;
	text-shadow:2px 2px 4px #737373;
	text-decoration: underline;
	}

	section h3:hover{ 
	transition: all .2s ease-in-out;
	font-size: 1.5em;
	color: #ff9900;
	text-shadow:2px 2px 4px #737373;
	shape-rendering: 10px;
}

section div#circle1{
	border-radius:100%;
	transform: translate(500px, 150px);
	display: inline-block;
	text-align: center;
    justify-content: center;
	width:150px;
	border-style: solid;
	border-color: #99284f;
	border-width: 7px;
	padding: 40px;
	background: linear-gradient(grey,black);
	color: white;
	position: relative;
	box-shadow: -1px 3px 5px #dd8c3c, -1px 4px 10px #99284f;
	animation-name: circulo1;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	/*animation-iteration-count: infinite;*/
}

section div#circle1:hover, section div#circle2:hover, section div#circle3:hover,
section div#circle4:hover, section div#circle5:hover {
	background: linear-gradient(#99284f,#dd8c3c);
}

section div#circle2{
	border-radius:100%;
	transform: translate(500px, 150px);
	display: inline-block;
	text-align: center;
    justify-content: center;
	width:150px;
	border-style: solid;
	border-color: #99284f;
	border-width: 7px;
	padding: 40px;
	background: linear-gradient(grey,black);
	color: white;
	position: relative;
	box-shadow: -1px 3px 5px #dd8c3c, -1px 4px 10px #99284f;
	animation-name: circulo2;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

section div#circle3{
	border-radius:100%;
	transform: translate(500px, 150px);
	display: inline-block;
	text-align: center;
    justify-content: center;
	width:150px;
	border-style: solid;
	border-color: #99284f;
	border-width: 7px;
	padding: 40px;
	background: linear-gradient(grey,black);
	color: white;
	position: relative;
	box-shadow: -1px 3px 5px #dd8c3c, -1px 4px 10px #99284f;
	animation-name: circulo3;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

section div#circle4{
	border-radius:100%;
	transform: translate(500px, 150px);
	display: inline-block;
	text-align: center;
    justify-content: center;
	width:150px;
	border-style: solid;
	border-color: #99284f;
	border-width: 7px;
	padding: 40px;
	background: linear-gradient(grey,black);
	color: white;
	position: relative;
	box-shadow: -1px 3px 5px #dd8c3c, -1px 4px 10px #99284f;
	animation-name: circulo4;
	animation-duration: 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

section div#circle5{
	border-radius:100%;
	transform: translate(500px, 150px);
	display: inline-block;
	text-align: center;
    justify-content: center;
	width:150px;
	border-style: solid;
	border-color: #99284f;
	border-width: 7px;
	padding: 40px;
	background: linear-gradient(grey,black);
	color: white;
	position: relative;
	box-shadow: -1px 3px 5px #dd8c3c, -1px 4px 10px #99284f;
	animation-name: circulo5;
	animation-duration: 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

/*section div#circle6{
	border-radius:100%;
	transform: translate(100px, 150px);
	display: inline-block;
	text-align: center;
    justify-content: center;
	width:150px;
	border-style: solid;
	border-color: #99284f;
	border-width: 7px;
	padding: 40px;
	background: linear-gradient(grey,black);
	color: white;
	position: relative;
	box-shadow: -1px 3px 5px #dd8c3c, -1px 4px 10px #99284f;
	animation-name: circulo6;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}*/

@keyframes circulo1 {
	from{transform: translate(500px, 150px); border-color: #dd8c3c;}
	to{transform: translate(40px, 40px); border-color: #99284f;}
	/*from{background-color: red;}
	to{background-color: yellow;}*/
	/*0% {border-color: #dd8c3c;}
	25%{border-color: #dd8c3c; transform: translate(10px,20px);}
	50%{border-color: #99284f; transform: translate(100px,200px);}
	75%{border-color: #99284f;}*/
}

@keyframes circulo2 {
	from{transform: translate(500px, 150px); border-color: #dd8c3c;}
	to{transform: translate(90px, 40px); border-color: #99284f;}
}

@keyframes circulo3 {
	from{transform: translate(500px, 150px); border-color: #dd8c3c;}
	to{transform: translate(140px, 40px); border-color: #99284f;}
}

@keyframes circulo4 {
	from{transform: translate(500px, 150px); border-color: #dd8c3c;}
	to{transform: translate(190px, 40px); border-color: #99284f;}
}

@keyframes circulo5{
	from{transform: translate(500px, 150px); border-color: #dd8c3c;}
	to{transform: translate(240px, 40px); border-color: #99284f;}
}

/*@keyframes circulo6{
	from{transform: translate(140px, 250px); border-color: #dd8c3c;}
	to{transform: translate(140px, 40px); border-color: #99284f;}
}*/

footer{
		background: linear-gradient(black, grey);
		color: white;
		font-family: Verdana;
		font-size:13px;
		margin: 0;
		padding:10px;
		border-top-style: solid;
    	border-top-color: #99284f;
    	border-top-width: 5px;
	}

	footer p {
		margin:4px;
		color: #99284f;
		text-decoration: underline;
	}

	footer ul li{
		list-style-type: none;
	}

	footer ul li a:link {
    color: white;
    background-color: transparent; 
    text-decoration: none;
}

	footer ul li a:hover {
    color: #99284f;
    background-color: transparent;
    text-decoration: underline;
}

	ul span{
		 float:right; 
		 color:#e6e6e6; 
		 margin:3px
	}
